# Python
__pycache__/
*.py[cod]
*.so
*.pyo

# Build / Packaging
build/
dist/
*.egg-info/
*.egg
*.tar.gz
*.zip
*.manifest
*.spec
*.kit

# Logs
*.log
pip-log.txt

# Unit tests / Coverage
.tox/
.nox/
.coverage
.cache
*.cover
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# Virtual environments
.env
.venv/
env/
venv/

# IDE / Editor
.vscode/
.idea/
*.swp

# Media / Temp files
*.jpg
*.png
*.bmp
*.bak
*.out
*.pth
*.npy
*.npz

# OmniGibson / Simulation specific
log_*/
data/
dataset/
examples/train/models/
omnigibson.egg-info
omnigibson/utils/data_utils/mesh_decimation/collision/
omnigibson/utils/data_utils/mesh_decimation/visual/
omnigibson/utils/data_utils/mesh_decimation/final_videos/

# System
.DS_Store

# My code
archive/
scripts/
*.dot
./temp_env.yml
sync_repos.sh
setup.py
llm_as_a_judge.py
assets/knowledge/bayesian_estimate.json